@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Helvetica, sans-serif;
}
:root {
    --primary-color: #ffffff;
    --secondary-color: #dbdfe9;
    --dark-font-color: #100000;
    --light-font-color: #f7f2f2;;
    --body-dark-bg: #121111;
    --body-light-bg: #fcfcfc;
    --inactive-link: #dbdfe9;
    --inactive-icon: #7f8194;
    --gray-700: #6D6D80;
    --menu-heading: #626671;
    --sidebar-width: 265px;
    --border-dashed: 1px dashed #393945;
    --header-height: 74px;
    --header-dark-bg: #131313;
    --dropdown-dark-bg: #1c1c1c;
    --bs-primary: #3E97FF;
    --bs-header-text: #9393a4;
    --border-color: #2B2B40;
    --transition-175s: all 0.175s ease-in-out;
    --transition-275s: all 0.275s ease-in-out;
    --transition-375s: all 0.375s ease-in-out;
}

ul, li, a {
    text-decoration: none !important;
    list-style: none !important;
}

body {
    background-color: var(--body-dark-bg) !important;
}

.fs-7 {
    font-size: 0.9rem !important;
}

.fs-8 {
    font-size: 0.85rem !important;
}